
<div class="" style="margin: 100px 100px 100px 100px;">
    <div style="display: flex; gap: 10px;">
        <h1>Giỏ hàng của bạn: 2 sản phẩm</h1>
    </div>

    <div class="shopping-cart">

        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Số tiền</label>
            <label class="product-quantity">Số lượng</label>
            <label class="product-removal">Hành động</label>
            <label class="product-line-price">Tổng</label>
        </div>

        <div class="product">
            <div class="product-image">
                <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
            </div>
            <div class="product-details">
                <div class="product-title">Dingo Dog Bones</div>
                <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for
                    these things! I got curious once and ate one myself. I'm a fan.</p>
            </div>
            <div class="product-price">12.99</div>
            <div class="product-quantity">
                <input type="number" value="2" min="1">
            </div>
            <div class="product-removal">
                <button class="remove-product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                    </svg>
                </button>
            </div>
            <div class="product-line-price">25.98</div>
        </div>

        <div class="totals">
            <div class="totals-item">
                <label>Tổng thanh toán</label>
                <div class="totals-value" id="cart-subtotal">71.97</div>
            </div>
        </div>

        <button class="checkout">Tiến hành thanh toán</button>

    </div>
</div>